$social-icon-radius: 0.5cm;
$social-icon-container-radius: 0.6cm;
$social-container-size: $social-icon-container-radius * 2;
$social-image-size: $social-icon-radius * 2;
$social-start: $social-icon-container-radius - $social-icon-radius;

* {
  margin: 0;
  padding: 0;
}


.content {
  padding: 2rem;
  margin-top: 60vh;
}

.top-text {
  color: white;
  text-align: center;
  padding-top: 1vh;
}

.top-banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 21 / 9;
  background-size: cover; 
  background-repeat: no-repeat;
}

.top-image {
  width: 100%;
  height: auto;
}

.navbar {
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.2));
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  backdrop-filter: blur(5px);
}

.nav-right {
  margin-left: auto;
  display: flex;
  padding: 0.2cm;
  gap: 0.2cm;
}

.nav-left {
  margin-right: auto;
  display: flex;
}

.navbar-text-item {
  color: white;
  font-size: large;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 0.5cm;
  align-content: center
} 

.navbar-text-item-current {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.6));
  @extend .navbar-text-item;
}

.social-icon-container {
  width: $social-container-size;
  height: $social-container-size;
  border-radius: $social-icon-container-radius;
  padding: 0.1cm;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.social-icon-image {
  width: $social-image-size;
  height: $social-image-size;
}


.project-gallery {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem;
  scrollbar-width: none;        /* Hide scrollbar for Firefox */
}

.project-gallery::-webkit-scrollbar {
  display: none;                /* Hide scrollbar for Chrome/Safari */
}

.project-card {
  flex: 0 0 auto;               /* Prevent flex items from shrinking */
  width: 200px;
  height: 200px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  font-size:medium;
}
